.teacherDashboard{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(239,249,255,1) 0%, rgba(237,248,255,1) 100%, rgba(0,212,255,1) 100%);
}
.TDashboardOngoingCourses{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
